{% extends 'Layouts/medieum.html.twig' %}
{% block vue %}
    <h2>Ajout d'un produit</h2>

    {{ form_start(myform) }}

    {{ form_errors(myform) }}

    {{ form_row(myform.libelle) }}



    {{ form_rest(myform) }}

    {{ form_end(myform) }}



{% endblock %}